#
# Configuration file for Measurement point.
#

#Interface that attaches to MA network
MAnic=eth0

#Capture Interface, and its accuracy.
CI=dag0
#TD=4

# DAG configuration
# same parameters as dag{three,four,..}
#DAG=varlen slen=1536

# For local mode this specifies the maximum capture length
#CAPLEN=1514
